body {
    margin: 20px;
  }
            body {
    margin: 20px;
  }
  h1{
      font-size: 80px;
      text-align: left;
      color: red;
  }
  
  p{
      font-weight: lighter;
        font-style: Arial;
        color: yellow;
  }
  body{
  background: gray;
  }